# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db